*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}

.game-board {
    position: absolute;
    width: 50%;
    height: 500px;
    border: 10px solid #333;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(155, 231, 231);
    position: relative;
    overflow: hidden;

    
}

.pipe {
    position: absolute;
    bottom: 0;  
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 120px;
    position: absolute;
    bottom: 0px;
}

.jump{
    animation: jump 500ms ease-out;
    
}

.clouds{
    position: absolute;
    width:700px;
    animation: cloud 20s infinite linear;
}

@keyframes cloud{
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 40%;
    }
    50%{
        bottom: 40%;
    }
    60%{
        bottom: 40%;
    }
    100%{
        bottom: 0;
    }
    
}
@keyframes pipe-animation{
    from {
        right: -80px;
    }
    to{
        right: 100%;
    }
}

